{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reports</title>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="Codedthemes" />
    <link rel="icon" href="{% static 'assets/images/cafe.webp' %}" type="image/x-icon">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/icon/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome-n.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.mCustomScrollbar.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/reports.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link href='{% static 'https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' %}' rel='stylesheet'>
    <script type="text/javascript" src="{% static 'assets/js/javascchart.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    <style>
        .logo i{
            color: white;
            font-size: 28px;
            margin-right: 5px;

        }
        .logo_name{
            color: white;
            font-size: 20px;
            font-weight: 400;
        }
    </style>
</head>

<body>
 <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close"><i class="ti-close input-group-text"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn"><i class="ti-search input-group-text"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="logo">
                            <i class='bx bx-scan bg-danger'></i>
                            <div class="logo_name">LVCS</div>
                        </div>

                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-right">

                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="{% static 'assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image">
                                    <span>Haider Ali</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="{% url 'setting' %}">
                                            <i class="ti-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="{% url 'profile' %}">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>

                                    <li class="waves-effect waves-light">
                                        <a href="{% url 'login' %}">
                                            <i class="fas fa-power-off"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="{% url 'dashboard' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'visitors' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>O</b></span>
                                        <span class="pcoded-mtext">Visitors</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="{% url 'reports' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="fas fa-th-large"></i><b>P</b></span>
                                        <span class="pcoded-mtext">Reports</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'assistant' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-user"></i><b>U</b></span>
                                        <span class="pcoded-mtext">Assistant</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'setting' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-user"></i><b>U</b></span>
                                        <span class="pcoded-mtext">Settings</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="{% url 'login' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="fas fa-power-off"></i><b>L</b></span>
                                        <span class="pcoded-mtext">Logout</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <!-- Earning Details Start -->
                                    <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn dropdown-toggle bg-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Phsycology
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">BS(Computer Science)</a>
    <a class="dropdown-item" href="#">Software Engineering)</a>
    <a class="dropdown-item" href="#">Electrical Engineering)</a>
    <a class="dropdown-item" href="#">SFADA</a>
  </div>
</div>

<div class="btn-group">
  <button id="b2" type="button" class="btn dropdown-toggle bg-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Fall-2017
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Fall-2016</a>
    <a class="dropdown-item" href="#">Fall-2015</a>
    <a class="dropdown-item" href="#">Fall-2018</a>
    <a class="dropdown-item" href="#">Fall-2019</a>
  </div>
</div>

<div class="btn-group">
  <button id="b3" type="button" class="btn dropdown-toggle bg-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Semester
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Semester-01</a>
    <a class="dropdown-item" href="#">Semester-02</a>
    <a class="dropdown-item" href="#">Semester-03</a>
    <a class="dropdown-item" href="#">Semester-04</a>
    <a class="dropdown-item" href="#">Semester-05</a>
    <a class="dropdown-item" href="#">Semester-06</a>
    <a class="dropdown-item" href="#">Semester-07</a>
    <a class="dropdown-item" href="#">Semester-08</a>
  </div>
</div>

<div class="btn-group">
  <button id="b4" type="button" class="btn dropdown-toggle bg-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Male
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Female</a>
  </div>
</div>
<div></div>
                                    <div class=" row m-t-30">
                                        <div class="col-md-12"><h4>Visitors:</h4></div>
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="card-block">
                                                    <div>
                                                     <h6 class="m-b-0">Total Visitors</h6>
                                                 </div>
                                                 <div class="d-flex align-items-end justify-content-between m-t-30">
                                                    <div class=""><i class="fas fa-dollar-sign fa-2x text-c-green"></i></div>
                                                    <div><h4 class="text-c-green">6325</h4></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card">
                                            <div class="card-block">
                                                <div>
                                                 <h6 class="m-b-0">Daily Visitors</h6>
                                             </div>
                                             <div class="d-flex align-items-end justify-content-between m-t-30">
                                                <div class=""><i class="fas fa-dollar-sign fa-2x color-orchid"></i></div>
                                                <div><h4 class="color-orchid">6325</h4></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div>
                                             <h6 class="m-b-0">Yearly Visitors</h6>
                                         </div>
                                         <div class="d-flex align-items-end justify-content-between m-t-30">
                                            <div class=""><i class="fas fa-dollar-sign fa-2x color-orchid text-primary"></i></div>
                                            <div><h4 class="text-primary">6325</h4></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-block">
                                        <div>
                                         <h6 class="m-b-0">Monthly Visitors</h6>
                                     </div>
                                     <div class="d-flex align-items-end justify-content-between m-t-30">
                                        <div class=""><i class="fas fa-dollar-sign fa-2x color-orchid color-salmon"></i></div>
                                        <div><h4 class="color-salmon">6325</h4></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card">
                                    <div class="card-block">
                                        <div>
                                         <h6 class="m-b-0">Hourly Visitors</h6>
                                     </div>
                                     <div class="d-flex align-items-end justify-content-between m-t-30">
                                        <div class=""><i class="fas fa-dollar-sign fa-2x color-orchid color-salmon"></i></div>
                                        <div><h4 class="color-salmon">6325</h4></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Earning Details End -->
                    <!-- Orders Details Start -->
                    <div class=" row">
                        <div class="col-md-12"><h4>Visitors Detail:</h4></div>
                      <div class="col-md-12" id="chartContainer"></div>
                   
                

        </div>


        <!-- Orders Details End -->


        
    </div>
    <!-- Page-body end -->
</div>
<div id="styleSelector"> </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<!-- Required Jquery -->
<script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- waves js -->
<script src="{% static 'assets/pages/waves/js/waves.min.js' %}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

<!-- slimscroll js -->
<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js ' %}"></script>

<script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<!-- Custom scripts -->
<script type="text/javascript" src="{% static 'assets/js/mychart.js' %}"></script>
<!-- menu js -->
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/vertical/vertical-layout.min.js' %}"></script>

<script type="text/javascript" src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>
